.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test/**
.git/**
.idea/**
**/*.vsix
.editorconfig
.prettierrc
.eslintignore
webpack.config.js
**/jest.config.js
**/__tests__/**
**/__mocks__/**
**/test/**
**/*.test.js
**/*.spec.js
**/coverage/**
**/docs/**
**/.DS_Store
yarn.lock
package-lock.json
